<h1>Book</h1>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Champ</th>
                <th>Contenu</th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td>Nom du livre</td>
            <td><%= book.title %></td>
          </tr>
          <tr>
            <td>Auteur du livre</td>
            <td><%= author.name %></td>
          </tr>
        </tbody>
    </table>
</div>