<h1>Accueil</h1>

<div>
    <p>Bienvenue sur la page d'acceuil.</p>
    <p>
        Pour accéder aux différentes pages du site, cliquez sur les boutons situés
        haut de la page.
    </p> 
</div>