<h1>Profile</h1>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Champ</th>
                <th>Contenu</th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td>Nom Utilisateur</td>
            <td><%= JSON.stringify(dbUser.username) %></td>
          </tr>
          <tr>
            <td>ID</td>
            <td><%= JSON.stringify(dbUser.id) %></td>
          </tr>
          <tr>
            <td>Mot de passe</td>
            <td><%= JSON.stringify(dbUser.password) %></td>
          </tr>
        </tbody>
    </table>
</div>
